input:invalid {
  border: 3px solid red;
}

input:valid {
  border: 2px solid lightgreen;
}

form {
  display: flex;
  background-color: lightsalmon;
  justify-content: space-between;
  width: fit-content;
}
form ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 form li {
   display: flex;
   justify-content: space-between;
   list-style: none;
 }

 select {
   width: 166px;
 }

 legend {
   font-size: 1.2em;
   color: mediumpurple;
   padding: 5px;
   border-bottom: 1px solid mediumpurple;
 }
 button {
   margin-top: 10px;
 }